.blog-title h4 a{
    background-image: linear-gradient(to right, currentColor 0, currentColor 100%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: all 0.3s, background-size 0.8s;
}
.blog-title h4 a:hover {
    color: #8750f7;
    background-size: 100% 1px;
}