.section-one::before {
    background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
    filter: blur(150px);
    /* margin-right: -5%; */
    margin-top: -5%;
}
.title, .section-title {
    background-image: linear-gradient(to right, #8750f7 0%,#ffffff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.social-icon ul li::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8750f7;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s;
}
.social-icon ul li:hover::after {
    transform: scale(1);
}
.social-icon ul li:hover .icon-sm {
    color: #ffffff;
    position: relative;
    z-index: 1;
}
.profile-photo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #8750f7;
    background: -o-linear-gradient(190deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
    background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
    -webkit-filter: blur(150px);
    filter: blur(150px);
    margin-left: -5%;
    margin-bottom: -5%;
}
.profile-photo img {
    transition:  0.3s;
    transform: rotate(4.29deg);
}
.profile-photo:hover img {
    transform: rotate(0);
    border: 2px solid #8750f7;
}

.hi-title {
    animation: 3s pulsate infinite alternate ease-in-out;
    transform: scale(1);
}
.hi-text {
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    font-size: 240px;
    stroke-width: 1.2;
    color: transparent;
    -webkit-text-stroke: 2px #2a1454;
    animation: strokes 4s;
    opacity: 0.7;
}

.text-count {
    font-family: Helvetica;  
}
.box-one .icon {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}
.box-one:hover .icon {
    transform: rotate(0);
    color: #ffffff;
}
.active-bg:hover {
    transition: all 0.5s ease;
    background-image: linear-gradient( 260deg, #2a1454 0%, #8750f7 100%);
    /* height: 109px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
}
.bg-blue {
    background-image: linear-gradient( 260deg, #2a1454 0%, #8750f7 100%);
}
.portfolio::before {
    background: linear-gradient(260deg, #8750f7 0%, #7343d200 100%);
    filter: blur(150px);
    
}
.active-bg-color {
    background-image: linear-gradient( 260deg, #2a1454 0%, #8750f7 100%);
    transition: all 0.5s ease;
}
.edu-box::after {
    background-image: linear-gradient( 260deg, #2a1454 0%, #8750f7 100%);
    opacity: 0;
    transition: opacity 0.5s linear;
}
.edu-box:hover::after {
    opacity: 1;
}
.edu-box:hover h3 {
    color: #fff;
}

.slick-dots li button:before {
    font-size: 10px !important;
    color: #d9d9d9 !important;
}
.slick-dots li.slick-active button:before, .slick-prev:before, .slick-next:before {
    color: #8750f7 !important;
}
.slick-prev {
    left: 0 !important;
    z-index: 1;
}
.slick-next {
    right: 0 !important;
    z-index: 1;
}
.category {
    display: inline-block;
    background-size: 200%;
    background-image: linear-gradient( 90deg, #8750f7 0%, #2a1454 110.61%);
    color: #fff;
    font-size: 13px;
    padding: 7px 10px;
    border-radius: 50px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}
.category:hover {
    background-size: 100%;
}
.blog-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-image: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
    transition: opacity 0.5s linear;
    opacity: 0;
    z-index: -1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media (max-width: 640px) {
    .active-bg {
        height: 95px;
    }
    
}

@media (max-width: 480px) {
    .active-bg {
        height: 115px;
    } 
}
@media (max-width: 324px) {
    .active-bg {
        height: 136px;
    } 
}
@keyframes strokes {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 1;
    }
    100% {
        stroke-dashoffset: 100%;
        stroke-dasharray: 100% 0;
        stroke-width: 1;
    }
    
}
@keyframes pulsate {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.05);
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }    
}